akonadi*
baloofileinformationrc
baloofilerc
bluedevilglobalrc
copyq
dconf
emaildefaults
emailidentities
enchant
GIMP
goa-1.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
kactivitymanagerdrc
kactivitymanagerd-statsrc
kalendaracrc
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdedefaults
kdeglobals
kde.org
kdialogrc
keepassxc
KeePassXCrc
kfontinstuirc
kgpgrc
khotkeysrc
kiorc
kitty
kmenueditrc
knfsshare
konsolerc
konsolesshconfig
kritadisplayrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimezonedrc
kuriikwsfilterrc
kwalletrc
kwinrc
kxkbrc
latte
lattedockrc
libaccounts-glib
libvirt
lightlyrc
lightlyshaders.conf
microsoft-edge-beta
mimeapps.list
Mousepad
mpv
nemo
neofetch
pamac
paru
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-workspace
powerdevilrc
powermanagementprofilesrc
procps
pulse
PulseEffects
QtProject.conf
retroarch
session
specialmailcollectionsrc
styli.sh
syncthing
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vivaldi
xsettingsd
yakuakerc
yay
znt
