akonadi*
baloofileinformationrc
baloofilerc
bluedevilglobalrc
copyq
dconf
emaildefaults
emailidentities
emacs/abbrev_defs
emacs/auto-save-list/
emacs/bookmarks
emacs/ede-projects.el
emacs/elpa
emacs/elisp/fd-find/
emacs/elisp/tmtxt-async-tasks/
emacs/elisp/tmtxt-dired-async/
emacs/emms/
emacs/history
emacs/image-dired/
emacs/network-security.data
emacs/.org-id-locations
emacs/session.*
emacs/tramp
emacs/transient/
enchant
filetypesrc
GIMP
goa-1.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
kactivitymanagerdrc
kactivitymanagerd-statsrc
kalendaracrc
katemetainfos
katerc
katevirc
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdedefaults
kdeglobals
kde.org
kdialogrc
keepassxc
KeePassXCrc
kfontinstuirc
kgpgrc
khotkeysrc
kiorc
kitty
kmenueditrc
knfsshare
konsolerc
konsolesshconfig
kritadisplayrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimezonedrc
kuriikwsfilterrc
kwalletrc
kwinrc
kxkbrc
latte
lattedockrc
libaccounts-glib
libvirt
lightlyrc
lightlyshaders.conf
Meltytech/
microsoft-edge-beta
mimeapps.list
Mousepad
mpv
nemo
neofetch
pamac
paru
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-workspace
powerdevilrc
powermanagementprofilesrc
procps
pulse
PulseEffects
QtProject.conf
retroarch
session
specialmailcollectionsrc
styli.sh
syncthing
systemmonitorrc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vivaldi
vlc/
xsettingsd
yakuakerc
yay
znt
