*
!.gitignore
!alacritty/
!emacs/
!Code/User
!sway/scripts/
!darktable/
!digikamrc
!digikam_systemrc
!dunst/
!environment.d/
!fish/
!fusuma/
!greetd/
!greetd/**
!kdenlive-layoutsrc
!kdenliverc
!keepassxc/
!keymap_current
!keymap_sway.xkb
!keymap_with_locked_modifiers.xkb
!keymap_with_sticky_modifiers.xkb
!kglobalshortcutsrc
!kmonad/
!kritadisplayrc
!mpv/
!.opencode/
!opencode/
!opencode/**
!pacseek/
!pcmanfm/
!polybar/
!qBittorrent/
!.profile
!rofi/
!sway/
!swaylock/
!swayr/
!Thunar/
!user-dirs.dirs
!user-dirs.locale
!waybar/
!WAYBAR
!waybar_custom/
!waybar_garuda/
!waybar_jdyer/
!wofi
!xremap/